/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-image: url('/img/ladrillo-negro.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
   margin: 10px 0 1px 220px; /* top right bottom left */
  padding: 20px;
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0 0 20px #fff9ff);
  text-align: justify;
}


h1 {
  text-align: center;
  margin: 10px 0 20px 0; /* top, right, bottom, left */
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

label {
  margin-bottom: 5px;
}

input, select, button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #757675;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: #d4dee9cc;
}

#services-list {
  margin-top: 20px;
}

#services-list p {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

#services-list p:hover {
  background-color: #0056b3;
}

#cortesContainer {
  margin-top: 30px;
}

.corte-item {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #656161;
    padding: 10px 0;
}

.total-global-container, .total-dia-container {
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 5px;
  border: rgba(50, 52, 50, 0.717) solid;
  background-color: rgba(110, 111, 110, 0.292)
}

.boton-mostrar-detalles{
  background-color: rgba(79, 77, 77, 0.847);
  color: white;
}

.boton-mostrar-detalles:hover{
  color: black;
  background-color: #d4dee9cc;
  filter: drop-shadow(0 0 40px #ffffff);
}

.dia-container{
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  background-color: #a3a8a3;
  filter: drop-shadow(0 0 5px #000000);
}

button.cerrar-btn {
  background-color: #dc3545;
}

button.cerrar-btn:hover {
  background-color: #c82333;
  filter: drop-shadow(0 0 20px #fa0b0b);
}


.barbero-btn {
  display: inline-block;
  width: 20%; 
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(79, 77, 77, 0.847);
  color: white;
}


.barbero-btn:hover {
  color: black;
  background-color: #d4dee9cc;
}

.boton-editar{
  background-color: rgba(79, 77, 77, 0.847);
  color: white;
}

.boton-editar:hover{
  color: black;
  background-color: #d4dee9cc;
}

.boton-eliminar{
  margin-left: 10px;
  background-color: rgba(79, 77, 77, 0.847);
  color: white;
}

.boton-eliminar:hover{
  color: black;
  background-color: #d4dee9cc;
}

.barbero-btn:focus {
  outline: none;
  box-shadow: 0 0 5px #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}


.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 30%;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

.close:hover {
  color: red;
}

#registrarVentaBtn{
  background-color: rgba(79, 77, 77, 0.847);
  color: white;
}

#registrarVentaBtn:hover {
  color: black;
  background-color: #d4dee9cc;
}

.btn-confirmar{
  background-color: rgba(79, 77, 77, 0.847);
  color: white;
}

.btn-confirmar:hover{
  color: black;
  background-color: #d4dee9cc;
}

.nav-btn {
  background: transparent;
  border: none;
  color: white;
  padding: 15px;
  text-align: left;
  cursor: pointer;
}
.nav-btn.active,
.nav-btn:hover {
  background: #444;
}

#historialContainer {
  margin-top: 20px;
}

#historialTable {
  width: 100%;
  border-collapse: collapse;
}

#historialTable th,
#historialTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#historialTable th {
  background: #f5f5f5;
}

.app-container {
  display: flex;
  min-height: 100vh; /* <-- permite que crezca si hay más contenido */
  flex-direction: column; /* ← útil si después querés agregar footer u otras cosas */
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  padding: 10px 30px 50px 30px;
  margin-left: 40px; 
}

form input:last-of-type {
  margin-bottom: 35px;
}


#historialTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* esto centra la tabla */
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

#historialTable th,
#historialTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#historialTable th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
